search:
	default:
		in: %appDir%
		classes:
			- *Factory
			- *Facade


services:
	- App\Services\Authenticator
	security.passwords: Nette\Security\Passwords(::PASSWORD_BCRYPT, [cost: 12])
	router: App\Router\RouterFactory::createRouter

	# components
	- App\Components\LoginControl\ILoginControlFactory
	- App\Components\LogoutControl\ILogoutControlFactory
	- App\Components\RegisterControl\IRegisterControlFactory

	# api
	- App\ApiModule\Presenters\OrdersPresenter