search:
	default:
		in: %appDir%
		classes:
			- *Factory
			- *Facade


services:
	- App\Services\Authenticator
	security.passwords: Nette\Security\Passwords(::PASSWORD_BCRYPT, [cost: 12])
	- App\Router\RouterFactory::createRouter
	- App\Components\LoginControl\ILoginControlFactory
	- App\Components\LogoutControl\ILogoutControlFactory
	- App\Components\RegisterControl\IRegisterControlFactory
